@model Teacher
@{
    ViewData["Title"] = "UpdateTeacher";
    Layout = "~/Views/Shared/Teacher/_TeacherLayout.cshtml";
}

<h1>Öğretmen Bilgi Güncelleme</h1>
<hr />

<form method="post">
    <input type="hidden" asp-for="TeachertId" />
    <label>Öğretmen Adı</label>
    <input type="text" class="form-control" asp-for="TeacherName" />
    <br />
    <label>Öğretmen Soyadı</label>
    <input type="text" class="form-control" asp-for="TeacherSurname" />
    <br />
    <label>Öğretmen Kullanıcı Adı</label>
    <input type="text" class="form-control" asp-for="TeacherUsername" />
    <br />
    <label>Şifre</label>
    <input type="text" class="form-control" asp-for="TeacherPassword" />
    <br />
    <label>Resim</label>
    <input type="text" class="form-control" asp-for="TeacherImageUrl" />
    <br />
    <a href="/Teacher/UpdateGetTeacher/" class="btn btn-danger">İptal</a>
    <button type="submit" class="btn btn-warning">Güncelle</button>
</form>
